<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Locator</title>
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <style>
        body{
            width: 90%;
            margin: auto;
            font-family: sans-serif;
            font-size: x-large;
            text-align: center;
        }
    </style>
</head>
<body>
<br><br><br><br>

{{data}}
<br><br>
<img src="../static/image.jpg" width="300" height="300">
<br><br><br>
<form method="POST" action="/"
    enctype="multipart/form-data">
<input type="file" name="filename" style="width:300px">
<input type="submit" value="Submit">
</form>
</body>
</html>
